/*ornaorg.github.io*/
.bg_red{background:red;}
.height_10px{height:10px;}
.bg_pink{background:pink;}
.height_30px{height:30px;}
.bg_black{background:black;}
.height_100px{height:100px;}
.bg_green{background:green;}
.margin-top_10\%{margin-top:10%;}
.height_20px{height:20px;}
